/* --------------------------------------------------------------*/
/* ---------- Impression ----------------------------------------*/
/* --------------------------------------------------------------*/
@media print {
    @page {
        margin: 1.7cm;
    }

    body {
        width: auto!important;
        margin: auto!important;
        background-color: white!important;
        /*background-color:red!important;*/
        color: #000!important;
        font-size: 11pt;
    }


    
    /* Modification de la taille et des espaces de l'ensemble des fontes -------------*/
    .md-content__inner {
        /* background-color: blue;*/
        margin: 0.2cm 1.7cm 1.7cm 1.7cm;
        padding: 0;
    }
    
    
    .md-typeset {
        color-adjust: exact;
        font-size: 11px;
        line-height: 1.6;
    }


    /* controle de l'espacement avec le haut de la première page*/
    .md-content__inner::before {
        height: 0px;
    }



    /* --------------------------------------------------------------*/
    /* ---------------------------------------------Pour les titres -*/
    .md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
        letter-spacing: -.01em;
        font-weight: 600;  
    }

    .md-typeset h2 + h3 {
        margin-top: 0;
    }


    .md-typeset h1 {
        color: var(--md-default-fg-color--light);
        font-size: 26px;
        line-height: 1.6;
        text-align: right;
        margin: 0 0 40px 0;
        page-break-before: always; /* chaque titre de niveau 1 commence sur une nouvelle page */
    }
    

    .md-typeset h2 {
        /*background-color: red;*/
        font-size: 19px;
        line-height: 1.6;
        margin: 0;
    }
    
    .md-typeset h3 {
        font-size: 15px;
        letter-spacing: -.01em;
        line-height: 1.8;
        margin: 0;
        
    }    
    
    .md-typeset h4 {
        font-size: 12px;
        letter-spacing: -.01em;
        line-height: 2;
        margin: 0;
    }    
    
    .md-typeset h5, .md-typeset h6 {
        font-weight: 700;
        letter-spacing: -0.01em;
        margin: 1em 0px;
    }
    
    
    /* --------------------------------------------------------------*/
    /* ---------------------------------------------Liens hypertextes*/
    a {
        color:  rgba(0, 0, 0, 0.513);
    }
    
    a[href]:after {
        content:  " (" attr(href) ")"; /* affichage des URL des liens */
    }
    

    /* --------------------------------------------------------------*/
    /* --------------------------------------------------------Listes*/
    .md-typeset ol,  .md-typeset ul {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .md-typeset li, .md-typeset ul li p {
        margin-top: 0;
        margin-bottom: 0;
    }

    /* --------------------------------------------------------------*/
    /* -------------------------------------------------------Tableau*/
    .md-typeset table:not([class]) {
        font-size: 11px;
        max-width: 100%;
    }


    /* --------------------------------------------------------------*/
    /* ----------------------------------------Dans les admonitions -*/

    /* réglage de la taille la police dans le corps de l'admonition*/
    .md-typeset .admonition {
        font-size: 11px;
    }    
    
    .md-typeset details, .tabbed-set {
        font-size: 11px;
        line-height: 1.6;
    }    

    .md-typeset :is(.admonition, details) {
        font-size: 11px;
    }    

    /* réglages des titres des admonitions*/
    .md-typeset :is(.admonition-title, summary) {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 8px;
        padding-top: 10px;
    }    

 
    .md-typeset .tabbed-labels > label {
        border-bottom: .1rem solid transparent;
        border-radius: .1rem .1rem 0 0;
        font-size: 11px;
        font-weight: 700;
        padding: .78125em 1.25em .625em;
        scroll-margin-inline-start: 1rem;
    }    

    /* réglages relatif au logo présent à gauche du titre des admonitions*/
    .md-typeset :is(.admonition-title, summary)::before {
        height: 16px;
        top: 10px;
        width: 16px;
    }    

    /* réglage de l'écartement entre la bordure et le symbole dans la barre de titre de l'admonition*/
    [dir="ltr"] .md-typeset :is(.admonition-title, summary)::before {
        left: 0.5rem;
    }    

    /* réglage de la bande coloré des titres pour quelle corresonde à l'encadré de l'admonition et de l'écartement entre la bordure et le titre de l'admonition*/
    [dir="ltr"] .md-typeset :is(.admonition-title, summary) {
        padding-left: 35px;
        padding-right: 11px;
        margin-left: -18px;
        margin-right: -16px;
    }    


    /* réglages relatif à la flèche présente à droite de la zone du titre des admonitions déroulants*/
    .md-typeset summary::after {
        height: 16px;
        top: 10px;
        width: 16px;
    }    

    /* réglage de l'écartement entre la flèche et le bord droit dans la barre de titre d'un admonition déroulable*/
    [dir="ltr"] .md-typeset summary::after {
        right: 0.4rem;
    }    

    /* réglage de la taille de la bordure*/
    [dir="ltr"] .md-typeset :is(.admonition, details) {
        border-width: 0 0 0 3px;
    }    

    /* réglage de la bordure de bloc de sitations*/
    [dir="ltr"] .md-typeset blockquote {
        border-left: 3px solid var(--md-default-fg-color--lighter);
    }    


/* ----Travail en cours ------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/

    /*  réglage taille fonte onglet dans admonition**/
    .md-typeset .tabbed-labels  {
        background-color: red;
        padding: 0.78125em 1.25em 0.625em;
    }

    /* réglage taille fonte note de bas de pages*/
    .md-typeset .footnote {
        font-size: 0.4rem;
    }
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/
/* --------------------------------------------------------------*/



    /* --------------------------------------------------------------*/
    /* ----------------------------------------------------------IDE-*/
    cmd, .cmd div, .cmd span, .terminal, .terminal-output > :not(.raw) a, .terminal-output > :not(.raw) div, .terminal-output > :not(.raw) span {
        font-size: var(--size, 1);
    }

    .terminal_f_h {
        --size: 1.0;
    }

    élément {
        height: 90px;
        --char-width: 8.649993896484375;
        width: 8601px;
        --terminal-height: 80;
        --terminal-x: 10;
        --terminal-y: 42;
        --terminal-scroll: 0;
    }


    .tooltip > img {
        width: 19px;
        border-radius: 3px;
        box-shadow: 1px 1px var(--main-theme);
    }


    /* --------------------------------------------------------------*/
    /* Relatif à la console sql -------------------------------------*/

    élément {
        height: 0px;
    }

    .sqlerror {
        margin: 0px;
    }
    
      


    /* --------------------------------------------------------------*/
    /* Relatif au changement de feuille -----------------------------*/
    blockquote, ul, ol, p, img, figure, figcaption {
        page-break-inside: avoid; /* pas de coupure dans ces élements */
    }    

    .hautdepage {
        page-break-before: always; /* un bloc de classe hautdepage commence sur une nouvelle page */
    }    
    
    
    

 
    /* -----------------------------------------------------------------*/
    /* Supression de l'affichage de certaine partie --------------------*/
    print {
        display: block; /* affichage des éléments de classe print */
    }

    .noprint {
        display: none; /* masque les éléments de la classe noprint */
    }




     
    /* -----------------------------------------------------------------*/
    /* Supression de l'affichage de certain admonitions ----------------*/
    <!--
    .md-typeset  .note {
        display: none;/* masque les admonitons note */
    }
    -->
}